{% load account %}
{% load i18n %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <title>Восстановление пароля</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
   <body>

    <p>Для активации учетной записи личного кабинета на сайте {{ site_domain }} перейдите по ссылке</p>

    <p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
    <p>Данное письмо отправлено почтовым роботом сервера {{ site_domain }} и не требует ответа. © Все права защищены. {{ site_domain }}</p>

   </body>
</html>
{% endblocktrans %}