{% extends 'home/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}Сброс пароля{% endblock %}
{% block application %}
<section class="container">
    <div class="row">
        <div class="col col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h1>{% trans "Password Reset" %}</h1>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</section>

{% endblock %}
