{% extends 'home/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}Регистрация{% endblock %}
{% block application %}
<section class="container">
    <div class="row">
        <div class="col col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <h1>{% trans "Sign Up" %}</h1>
            
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% else %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'cabinet:categories' %}">
                {% endif %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</section>
{% endblock %}
