{% extends 'cabinet/base.html' %}
{% load strip %}
{% block application %}
<div class="row">
    <div class="col col-xs-12">
        <h3>Закладки</h3>
        <hr>
        
        {% if bookmarks|length > 0%}
            <div class="table-responsive">
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th class="text-center">Список документов</th>
                            <th class="text-center">Контент</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bookmark in bookmarks %}
                            <tr>
                                <td>{{bookmark.blank.title}}</td>
                                <td><a href="{% url 'cabinet:blank' bookmark.blank.category.id bookmark.blank.id %}">Показать</a></td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Нет добавленных закладок</p>
        {% endif %}        
    </div>
</div>
{% endblock %}