{% extends 'cabinet/base.html' %}

{% block application %}

<div class="row">
    <div class="col col-xs-12">
        {% if categories|length > 0%}
            <div class="table-responsive">
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th class="text-center">Категории</th>
                            <th class="text-center">Контент</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{category.title}}</td>
                                <td><a href="{% url 'cabinet:category' category.id %}">Показать</a></td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Нет добавленных категории</p>
        {% endif %}        
    </div>
</div>

{% endblock %}